img {
            width: 200px;
            float: right;
            margin-left: 20px;
}

.contenedor {
            width: 100px;
            min-height: 100vh;
            display: grid;
            grid-template-columns: 
            "texto1 imagen1"
            "imagen2 texto2";
            padding: 5px;
            gap: 5px;
}

        .texto1{
            grid-area: texto1;
}

.imagen1{
            grid-area: imagen1;
}

        .texto2{
            grid-area: texto2;
}

.imagen2{
            grid-area: imagen2;
}