.main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../fotos/fondofutbol.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.registro {
    width: 50%;
    font-size: large;
    outline: solid black 1px;
     background-color: #f3f4f6;
    padding: 1rem;
     box-shadow: none;
}