.main {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.registro {
    width: 50%;
    font-size: large;
    outline: solid black 1px;
    background-color: #f3f4f6;
    padding: 1rem;
    box-shadow: none;
}